---
interface Props {
  src: string;
  alt: string;
}
const { src, alt } = Astro.props;
---

<div class="mb-[10px]">
  <div
    class="hover:scale-105 border-transparent border-[3px] hover:border-white hover:p-1
  rounded-[10px] transition ease-in-out duration-300"
  >
    <img class="rounded-[5px] shadow-cards" src={src} alt={alt} />
  </div>
</div>
