<footer id="footer" class="h-[270px]">
  <div id="wrapper-footer" class="h-full py-[20px] flex flex-col items-center text-[#c4c1c4]">
    <a href="/" id="logo-footer">
      <img
        class="w-[80px]"
        src="https://static-assets.bamgrid.com/product/disneyplus/images/logo.1a56f51c764022ee769c91d894d44326.svg"
        alt="Logo Disney+"
      />
    </a>
    <div id="body-footer" class="text-[12px]">
      <div id="body-top" class="max-w-[1110px] flex flex-wrap justify-center [&>a]:px-2
        hover:[&>a]:text-white my-[20px]">
        <a href="/" class="flex items-center gap-1 hover:underline">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-world" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
            <path d="M3.6 9h16.8"></path>
            <path d="M3.6 15h16.8"></path>
            <path d="M11.5 3a17 17 0 0 0 0 18"></path>
            <path d="M12.5 3a17 17 0 0 1 0 18"></path>
          </svg>
          Español
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M6 9l6 6l6 -6"></path>
          </svg>
        </a>
        <a href="/">Términos de uso</a>
        <a href="/">Política de privacidad</a>
        <a href="/">Publicidad personalizada</a>
        <a href="/">Dispositivos compatibles</a>
        <a href="/">Ayuda</a>
        <a href="/">Acerca de Disney+</a>
      </div>
      <div id="body-bot" class="flex flex-col items-center">
        <p class="text-center">© 2023 Disney y su familia de compañías afiliadas. Todos los derechos reservados.</p>
        <p class="max-w-[1100px] text-center mt-[10px]">
          Disney+ es un servicio por suscripción de pago, su contenido está
          sujeto a disponibilidad. El servicio Disney+ es comercializado por The
          Walt Disney Company (Argentina) S.A., Tucumán 1, Piso 4º (C1049AAA)
          Ciudad Autónoma de Buenos Aires, Argentina y número de CUIT
          30-63984459-1.
        </p>
      </div>
    </div>
  </div>
</footer>
