<footer id="footer" class="h-[270px] bg-[#0e0b14]">
  <div id="wrapper-footer" class="h-full py-[20px] flex flex-col items-center">
    <a href="/" id="logo-footer">
      <img
        class="w-[80px]"
        src="https://static-assets.bamgrid.com/product/disneyplus/images/logo.1a56f51c764022ee769c91d894d44326.svg"
        alt="Logo Disney+"
      />
    </a>
    <div id="body-footer" class="text-[12px]">
      <div id="body-top" class="max-w-[550px] flex flex-wrap [&>a]:px-2 [&>a]:py-[10px] 
        justify-center text-white">
        <a href="/">Política de privacidad</a>
        <a href="/">Acuerdo de suscripción</a>
        <a href="/">Cancelar suscripción</a>
        <a href="/">Ayuda</a>
        <a href="/">Dispositivos compatibles</a>
        <a href="/">Acerca de Disney+</a>
        <a href="/">Publicidad personalizada</a>
      </div>
      <div id="body-bot" class="text-[#c4c1c4] flex flex-col items-center">
        <p class="w-[480px] text-center mb-[10px]">
          Disney+ es un servicio por suscripción de pago, su contenido está
          sujeto a disponibilidad. El servicio Disney+ es comercializado por The
          Walt Disney Company (Argentina) S.A., Tucumán 1, Piso 4º (C1049AAA)
          Ciudad Autónoma de Buenos Aires, Argentina y número de CUIT
          30-63984459-1.
        </p>
        <p class="text-center">© Disney. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
