
<article class="w-full min-h-screen">
  <div id="carousel" class="snap-mandatory snap-x flex gap-6 
  [&>div>img]:rounded-md">
    <div class="snap-center shrink-0">
      <img src="/assets/mansionembrujada.jpg" alt="">
    </div>
    <div class="snap-center shrink-0">
      <img src="/assets/loki.jpg" alt="">
    </div>
    <div class="snap-center shrink-0">
      <img src="/assets/monstersinc.jpg" alt="">
    </div>
  </div>
</article>